/* Comentario */

/* Estilo para class .concert-one-regular */
.concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.navbar-nav {
    display: flex; /* Utilizamos flexbox */
    gap: 95px; /* Espacio entre los elementos */
    list-style: none; /* Quitamos los estilos de lista predeterminados */
    font-size: 20px;
    

  }
  
  .navbar-nav li {
    margin: 0; /* Quita cualquier margen predeterminado */
  }
  
  .navbar-nav .dropdown-menu {
    position: absolute; /* Para mantener el menú desplegable en su lugar */
  }
  







 /*NOSOTROS*/
#nosotros{
    font-size: 20px;
}
#modacircular{
    font-size: 25px;
    font-style: italic;
    font-weight: 350;
}
#explmodacircular{
    font-size: 20px;
    text-align: justify;
}


/*COMO COMPRAR*/

#insta-link {
    text-decoration: none;
    padding-top: 100px;
    }
    
    #catalogo-link {
        text-decoration: none;
        }
        
    #efectivo{
        font-size: 20px;
    }
    #transferencia{
        font-size: 20px;
    }
    #mercadopago{
        font-size: 20px;
    }
    #tarjetas{
        font-size: 20px;
    }
    #entregas{
        font-size: 20px;
    }
    #envio{
        font-size: 20px;
    }

    /*CONTACTO*/
    #contacto{
        font-size: 20px;
    }

    
/*FOOTER*/
footer {
    background-color: #ee81a0;
}

footer h2 {
    color: black;
    font-size: 40px;
    text-align: center;
    position: relative;
    bottom: 25px;
}

footer h3{
    font-size: 20px;
    text-align: center;
}

/* Percha footer*/

footer {
    position: relative; 
}
.volverarriba{
    position: relative;
    top: 25px;
}
.dibujopercha {
    position: absolute; 
    top:130px;
    bottom: 10px; /*distancia desde la parte inferior */
    right: 20px; /* distancia desde el lado derecho */
    width: 150px;
}

.logo-wsp{
    position: relative;
    top: 20px;
    left: 10px;
}

.logo-insta{
    position: relative;
    top: 70px;
    right:43px;
}
.logo-fb{
    position: relative;
    top: 125px;
    right: 100px;
}
.logo-tiktok{
    position: relative;
    bottom: 30px;
    left: 730px;
}