@mixin items-nav {
    display: flex;
    gap: 95px;
    list-style: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: $color-texto;
    font-weight: bolder;
    align-items: center;
}