.anuncio {
  background-color: #f8c7cd;
  color: black;
  font-size: 30px;
  font-family: 'Salsa', cursive;
  margin: 0;
  padding: 5px;
  overflow: hidden; 

  p {
    margin: 0; 
    animation: moveText 25s linear infinite; 
    display: inline-block; 
  }
}


@keyframes moveText {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

