.animacion {
    animation: fadeInDown 1s ease forwards;
    background-color: #f8c7cd;
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 800px; 
    margin: 0 auto 20px; 
    font-size: 25px;
    font-family: 'Titan One', cursive;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fondocompra{
    background-color: rgba(183,224,42,0.55);
    margin: 100px;
    padding: 10px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
}
  
section.importante {
    background-color: #f8f8f8; 
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    animation: highlightBackground 5s infinite alternate, scaleAnimation 10s infinite alternate; 
    font-family: 'Titan One', cursive;
  
    p {
      font-size: 20px;
      color: #666;
      margin-bottom: 10px;
      text-align: center;
    }
  }
  
  @keyframes highlightBackground {
    0% {
      background-color: #f8f8f8; /* Color de fondo inicial */
    }
    50% {
      background-color: #fff; /* Color de fondo intermedio */
    }
    100% {
      background-color: #f8f8f8; /* Color de fondo final */
    }
  }
  
  @keyframes scaleAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05); 
    }
    100% {
      transform: scale(1);
    }
  }
  
  .custom-bg-color {
    background-color: #9bc01c; 
    padding: 5px 10px; 
    border-radius: 10px; 
    color: #fff; 
  }
  
  .custom-bg-color h5 {
    font-size: 25px; 
    margin-bottom: 5px;
    }
  
    .metodosdepago {
      display: flex;
      justify-content: center; 
      align-items: center; 
      gap: 100px; 
     }
    
    .metodosdepago img {
      width: 110px; 
      height: auto; 
    }

    .metodos-entrega{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h4{
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 15px;
        background-color: rgba(183,224,42,0.55);
        border-radius: 10px;
      }
      }
     
    .metodos-pago{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h4{
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 15px;
        background-color: rgba(183,224,42,0.55);
        border-radius: 10px;
      }
      }

    .texto-verde-cc{
      span{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: #9bc01c;
      }
    }
   
    
    