.animacion {
    animation: fadeInDown 1s ease forwards;
    background-color: #f8c7cd;; /* Color de fondo */
    padding: 20px; /* Espacio interior */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    max-width: 800px; /* Ancho máximo */
    margin: 0 auto 20px; /* Margen arriba y abajo, centrado horizontalmente */
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
