$color-principal: #ee81a0;
$color-principal2:#f8c7cd;
$color-texto: black;

.colorfondonavbar {
    background-color: $color-principal !important;
  }
 
  .navbar-nav {  
    @include items-nav;

    li a {
      margin: 0px;
      transition: 1s;
  
      &:hover,
      &:active {
        background-color: $color-principal;
        color: white;
      }
    }
  
    .dropdown-menu {
      position: absolute;
      color: $color-texto;
      font-weight: bolder;
      font-size: 20px;
    }
  }
  
  .botonbuscar {
    color: $color-texto;
    border-color: #f8c7cd;
    background-color: #f8c7cd;
    font-family: Arial, Helvetica, sans-serif;
  
    &:hover {
      background-color: white;
      color: $color-texto;
    }
  }